body {

	padding-bottom: 100px;
	width: 100%;
	height: 100%;

}

/*Search form and button*/

#searchBar {
	position: relative;
	left: 1050px;
}

#searchButton {
	color: #6497b1;
	border-color: #6497b1; 
}

/*Where the appended buttons go*/

#addButtons {
	padding: 20px;
	
}


.topicButtons {
	height: 35px;
	float: left;
	border-color: #6497b1;
	border-width: 1px;
	color: #6497b1;
	margin: 5px;
	background-color: white;
	border-radius: 4px;
}

/*Where the GIFs go*/ 


.animalDiv {
	float: left;
	margin: 10px;
}

.gif {
	height: 200px; 
}


/*Footer*/

.navbar-fixed-bottom {

	color: white;
	background-color: #b3cde0; 
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%
}


#footer {
	padding-top: 10px;
}